body {
    background-color:rgba(116, 255, 232, 0.833);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
img{
    display: inline-block;
    width: 400px;
    height: 515px;
    margin: auto;
}
a{
color: rgb(46, 100, 99);
text-decoration: underline;
}
a :visited{
color: blueviolet;
text-decoration: underline;
}
.resume{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:blue;

}
.hobbies{
  font-family: fantasy;
  color: darkcyan;
}
.link{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: blueviolet;
  font-size:medium; 
}
.head{
  font-family: cursive;
  color: darkslategray;
}